@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  margin : 0;
  padding : 0;
  font-family: 'Share Tech Mono', monospace;
  list-style-type: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0px;
}

body {
  background : rgb(0, 45, 106);
}

h5 {
  margin : 5px;
  color : #f1f5f6;
  text-align : center;
}

p {
  color: orange;
}

#rss p {
  margin: 5px;
  font-size: small;
}

a {
  text-decoration : none;
}

#h_txt {
  color: rgba(255, 255, 255, 0.5);
  padding: 5px;
}

pre#t {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

div#formulaire, #container2 {
  display: block;
  width: 50%;
  margin: auto;
  height: 300px;
  margin-bottom: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  background-color: rgb(12, 16, 33);
}

.div_grid, .div_grid_2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div_grid {
  background-color: rgb(12, 16, 33);
  border-radius: 10px;
  overflow: hidden;
}

.div_grid_2 {
  background-color: rgb(12, 16, 33);
  border-radius: 10px;
  overflow: hidden;
}

#search {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

#search_b {
  visibility: hidden;
}

.container {
  display : grid;
  grid-gap: 10px;
  margin: auto;
  width: 50%;
  grid-template:  "left_top left_top r_ight" 100px
                  "left_bottom left_bottom r_ight" 100px / 1fr 1fr 4fr
}

#social_ {grid-area : left_top;}
#reddit {grid-area : left_bottom;}
#rss {grid-area : r_ight;}

.container2 {
  display : grid;
  grid-gap: 10px;
  margin: 10px;
  grid-template:  "a z" 500px
                  "y b"
                  "c x"
                  "w d" 500px / 1fr 1fr
}

#html {grid-area : a;}
#js {grid-area : b;}
#md {grid-area : c;}
#gitignore {grid-area : d;}

.term {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 25px;
}

.term p {
  margin-top: 4px;
  float: left;
  text-align: center;
}

#red_form, #red_social, #red_rss, #yellow, #green {
  margin-top: 7px;
  margin-left: 7px;
  width: 12.5px;
  height: 12.5px;
  border-radius: 6.25px;
  float: left;
}

#red_form, #red_social, #red_rss{background-color: rgb(255, 70, 70);}
#yellow {background-color: rgba(255, 255, 0, 0.911);}
#green {background-color: green;}

#search_box {
  display: grid;
  grid-template-areas:  "a b";
  grid-template-columns: 120px 1fr;
}

#form_div {
  grid-area: b;
  height: 30px;
}

#placeholder {
  grid-area: a;
  border-bottom-left-radius: 10px;
  height: 30px;
}

#placeholder p {
  color: green;
  margin: 5px;
  font-family: 'Share Tech Mono', monospace;
}

input {
  font-family: 'Share Tech Mono', monospace;
  font-size: medium;
  color: green;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100px;
  padding: 5px;
  overflow: hidden;
}

textarea {
  font-family: 'Share Tech Mono', monospace;
  font-size: medium;
  color: green;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 5px;
  width: 100%;
  height: 450px;
  overflow: hidden;
  background: none;
  border: none;
  resize: none;
}

#form {
  border-bottom-right-radius: 10px;
}

.h_form {
  visibility: hidden;
}

#h_search {
  visibility: hidden;
}

#colored_plch {
  color: blueviolet;
}

#colored_plch_y {
  color: yellowgreen;
}

p, h1, h3, h5, a, pre {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.h3_t {
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}

#info {
  width: 100%;
  padding: 2px;
  height: 250px;
  display: grid;
  grid-template-areas:  "l g d r";
}

#m_1 {grid-area: l;}
#m_2 {grid-area: g;}
#m_3 {grid-area: d;}
#m_4 {grid-area: r;}

#m_text {
  padding: 5px;
}

#m_p1, #m_p2, #m_p3, #m_p4 {
  color: #058ED9;
}

#m_p1 h1, #m_p2 h1,#m_p3 h1,#m_p4 h1{
  color: #FF7F11;
  font-size: medium;
}

#i0, #i1, #i2, #i3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#reddit p {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 35px;
}

#social {
  width: 50%;
}

.toto {
  width: 80%;
}

#help {
  width: 100%;
  display: none;
}